.search-results-list {
	width: 100%;
	max-width: 100%;
	padding: 0 !important;
}

.search-results-list-item {
	width: 100%;
	padding: 0.75rem 1.25rem;
}

.search-results-title {
	align-items: center;
	font-size: 1.25rem;
	width: 100%;
	padding: 0.25rem 0.5rem;
}

.search-results-snippet {
	align-items: center;
	font-weight: 500;
	width: 100%;
	padding: 0.25rem 0.5rem;
}
