.dropdown-page {
	width: 100%;
	max-width: 100%;
	padding: 0;
	margin: 0;
}

.dropdown-page-main {
	width: 100%;
	max-width: 100%;
	height: calc(100% - 9.6vh);
	padding: 0 !important;
	margin: 0 !important;
}

.dropdown-page-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	max-width: 100%;
}

.select-section {
	background-color: #f1f3f7;
}

.select-section-row {
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 5rem;
	padding: 0.5rem;
}

.select-results-section {
	height: 100%;
	padding: 1.5rem 4rem 1.5rem;
}

.select-results {
	border: 0.0625rem solid #2c2e31;
	border-radius: 1.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 25rem;
	padding: 2.5rem;
}

.select-results-text {
	font-size: 1.5rem;
	font-weight: 500;
	text-transform: capitalize;
}

.select-results-display-red {
	border-color: rgba(255, 0, 0, 0.5);
	background-color: rgba(255, 0, 0, 0.5);
}

.select-results-display-yellow {
	border-color: #ffff00;
	background-color: rgb(255, 255, 0);
}

.select-results-display-green {
	border-color: #008000;
	background-color: #008000;
}

.select-results-display-blue {
	border-color: #0000ff;
	background-color: #0000ff;
}

.select-results-display-magenta {
	border-color: #ff00ff;
	background-color: #ff00ff;
}

.select-results-display-cyan {
	border-color: #00ffff;
	background-color: #00ffff;
}

.select-results-display-orange {
	border-color: #ffa500;
	background-color: #ffa500;
}

.select-results-display-purple {
	border-color: #800080;
	background-color: #800080;
}

.select-results-display-pink {
	border-color: #ffc0cb;
	background-color: #ffc0cb;
}

.select-results-display-brown {
	border-color: #a52a2a;
	background-color: #a52a2a;
}

.select-results-display-black {
	border-color: #000000;
	background-color: #000000;
}

.select-results-display-black p {
	color: #ffffff;
}

.select-results-display-gray {
	border-color: #808080;
	background-color: #808080;
}

.select-results-display-maroon {
	border-color: #800000;
	background-color: #800000;
}
